*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'inter';
}

@font-face {
font-family: 'inter';
src: url('./Inter-SemiBold.ttf')
}

@font-face {
font-family: 'merienda';
src: url('./Merienda-Regular.ttf');
}

.topnav {
overflow: hidden;
background-color: #f0f4ec;
margin-top: 10px;
}


.topnav a  {
float: left;
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

._notifi{
background-color: #555;
color: white;
text-decoration: none;
padding: 1px 2px;
position: relative;
display: inline-block;
border-radius: 2px;
}

._notifi ._ba {
position: absolute;
top: -10px;
right: -10px;
padding: 5px 10px;
border-radius: 50%;
background-color: red;
color: white;
}

.sub{
color: #3f3f3f; 
margin-top: 10px;
}

.dropdown{
margin-top: 10px;
}

.login{
margin-top: 10px;
}

.notification{
margin-top: 10px;
}

.topnav h2  {
float: left;
display: block;

text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.menu{
height: 30px;
}

.oneactive {
font-family: 'merienda';
color: #396c03;
}

.food{
font-family: 'merienda';
color: #396c03;
font-size: 25px;
margin-left: 70px;
}

.time{
font-family: 'inter';
color: #396c03;
font-size: 25px;
margin-top: 4px;
margin-right: 550px;
}

.activetwo {
font-family: 'inter';
color: #396c03;
}

.topnav .icon {
display: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 17px;    
border: none;
outline: none;
color: #3f3f3f;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: #3f3f3f; 
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown:hover .dropdown-content {
display: block;
}

.trace{
height: 2px;
background-color: #cdd0c9;
margin-top: 15px;
}

.subtitle{
margin-top: 10px;
}

.login{
background-color: #396c03;
color: white;
}

.notification {
background-color: #396c03;
color: white;
text-decoration: none;
margin-left: 20px;
border-radius: 70px;
position: relative;
display: inline-block;
}

.timenotification {
color: black;
text-decoration: none;
border-radius: 70px;
position: relative;
display: inline-block;
}

.notification:hover {
background: #ff8b00;
}

.login:hover {
background: #ff8b00;
}

.timenotification:hover {
background: #ff8b00;
}

.notification .badge {
position: absolute;
top: -10px;
right: -10px;
padding: 5px 10px;
border-radius: 50%;
background-color: #ff8b00;
color: white;
}

.timenotification .badge {
position: absolute;
top: -10px;
right: -10px;
padding: 5px 10px;
border-radius: 50%;
background-color: #ff8b00;
color: white;
}

.clock{
height: 20px;
}

@media only screen and (max-width: 1024px ) {

.time{
margin-right: 0px;
}

.sub{
    margin-left: -10px;
}

.topnav{
height: 100px;
}

._two{
display: none;
}

.people{
display: none;
}

form.arrow button {

width: 25%;

}

}


@media only screen and (max-width: 1031px ) {

.time{
margin-right: 10px;
}
        

.food{
margin-left: -10px;
font-size: 25px;
}

.notification{
margin-left: 10px;
}

.column-33{
display: none;
}

._two{
display: none;
}

.people{
display: none;
}

form.arrow button {

width: 30%;

}

}


@media screen and (max-width: 600px) {



.topnav a:not(:first-child), .dropdown .dropbtn {
display: none;
}

header{
overflow: hidden;  

}

.topnav a.icon {
float: right;
display: block;
}

.topnav.responsive {
position: relative;
height: 600px;
}

.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}

.topnav.responsive a {
float: none;
display: block;
text-align: left;
margin-top: 60px;
margin-bottom: -20px;
margin-left: 10px;
}

.topnav.responsive .dropdown  {
margin-left: 10px;
}

.topnav.responsive .login  {
margin-left: 20px;
}

.topnav.responsive .notification  {
margin-left: 20px;
}

.food{
margin: auto;
margin-left: 10px;
}
.time{
margin-right: 0px;
}
.topnav.responsive .dropdown {
float: none;
margin-top: 50px;
}

.subtitle{
margin-top: 0px;
margin-left: 0px;
margin-right: 50px;
}



.login{
width: 80px;
margin-left: 10px;
}

.notification{
width: 55px;
margin-left: 10px;
border-radius: 90px;
}
.badge{
height: 25px;
}

.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
display: block;
width: 100%;
text-align: left;
}

}